{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="language" content="en-us" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
      Tamil 2024 Movies Download, Download Latest Tamil Movies 2024 Moviesda
      isaimini
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Tamil 2024 Movies Movie Download Tamil 2024 Movies Moviesda Download Tamil 2024 Movies Tamil Movie Download isaimini"
    />
    <meta
      name="keywords"
      content="tamil 2024 movies movie download tamil 2024 movies moviesda download tamil 2024 movies tamil movie download isaimini"
    />
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
      media="all,handheld"
    />
    <meta name="theme-color" content="#efbacc" />
  </head>
  <body>
    <div class="line">
      <font size="4px">Moviesda.Mobi</font>
      <br />
      <small>Name Of Quality</small>
    </div>
    <div class="bottom" align="center">
      Like our <a href="/"><font color="red">Facebook Fan Page</font></a> & Get
      Updates and News!
      <div class="ads">
        <div class="headertag center">
          <span>Moviesda9.Net</span> <br />
          (Please Bookmark & Search)
        </div>
      </div>
    </div>

    {% block continer %} {% endblock %}

    <div class="adz" align="center"></div>

    <div class="aut">Page Tags :</div>

    <div class="Tag">
      <font color="green"
        >Tamil 2024 Movies Movie Download Tamil 2024 Movies Moviesda Download
        Tamil 2024 Movies Tamil Movie Download isaimini</font
      >
      <div class="taglink">
        <ul>
          <li>Tamil 2024 Movies Moviesda Download</li>
          <li>Tamil 2024 Movies isaimini Download</li>
          <li>Tamil 2024 Movies TamilGun Download</li>
          <li>Tamil 2024 Movies TamilYogi Download</li>
          <li>Tamil 2024 Movies TamilRockers Download</li>
          <li>Tamil 2024 Movies TamilPlay Download</li>
        </ul>
      </div>
    </div>

    <div class="bottom">
      <a href="/">Home</a> | <a href="/">Contact Us</a> | <a href="/">DMCA</a>
    </div>

    <div class="line">
      &#169; Moviesda.Net <br />
      All Right Reserved
    </div>
  </body>
</html>
